<main>
	<section id="slide-1" class="homeSlide">
		<div class="bcg vanue" data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -100px;" data-anchor-target="#slide-1">
			<div class="hsContainer" >
				<div class="hsContent slide-1" data-center="bottom: 200px; opacity: 1" data-top="bottom:1200px; opacity:0.3" data-anchor-target="#slide-1" >
					<div class="container">
						<div class="store-sec left">
							<h1 class="store-availability center">Pizza Quarter</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="vanue-area">
			<div class="panel with-nav-tabs panel-default">
				<div class="panel-heading">
					<div class="container">
						<ul class="nav nav-tabs center">
							<li class="active"><a href="#tab1default" data-toggle="tab">special offers</a></li>
							<li><a href="#tab2default" data-toggle="tab">FOOD</a></li>
							<li><a href="#tab3default" data-toggle="tab">Drinks</a></li>
						</ul>
					</div>
				</div>
				<div class="panel-body">
					<div class="tab-content">
						<div class="tab-pane fade in active" id="tab1default">
							<div class="container">
								<div class="clearfix vanue-detail center">
									<img src="assets/quarter-logo.png">
									<p class="distance">4 mi.</p>
									<a href="#" class="ratting"><img src="assets/ratting.png"></a>
									<h4><i class="fa fa-map-marker" aria-hidden="true"></i> 2A Rochester Ave, Luton LU2 8EB, UK</h4>
									<h4><i class="fa fa-globe" aria-hidden="true"></i> <a href="#">www.pizzaquarter.com</a></h4>
									<div class="days-sec clearfix">
										<div class="days-left">
											<div class="day-time">
												<span class="days">Mon</span><span class="time">12:00  -  23:00</span>
											</div>
											<div class="day-time">
												<span class="days">Tue</span><span class="time">12:00  -  23:00</span>
											</div>
											<div class="day-time">
												<span class="days">Wed</span><span class="time">12:00  -  23:00</span>
											</div>
											<div class="day-time">
												<span class="days">Thu</span><span class="time">12:00  -  23:00</span>
											</div>
										</div>
										<div class="days-right">
											<div class="day-time">
												<span class="days">Fri</span><span class="time">12:00  -  23:00</span>
											</div>
											<div class="day-time">
												<span class="days">Sat</span><span class="time">12:00  -  23:00</span>
											</div>
											<div class="day-time">
												<span class="days">Sun</span><span class="time">12:00  -  23:00</span>
											</div>
										</div>
									</div>
									<div class="store-sec center">
										<h4 class="store-availability">Download the app to order and pay</h4>
										<div class="store-btn clearfix">
											<a href="https://itunes.apple.com/gb/app/id1088581826"><img src="assets/app-store.png"></a>
											<a href="https://play.google.com/store/apps/details?id=swoope.co.uk&amp;hl=en"><img src="assets/g-store.png"></a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="tab2default">
							<div class="container">
								<div class="row">
									<div class="col-sm-6">
										<div class="food-zone">
											<div class="food-img">
												<img src="assets/food-pic.png" />
											</div>
											<div class="food-desc">
												<div class="food-name">Veggie Supreme</div>
												<div class="food-price">£ 2.95 </div>
											</div>
											<div class="addicon">
												<a href="#" class="">
													<img src="assets/add-icon.png" />
												</a>
											</div>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="food-zone">
											<div class="food-img">
												<img src="assets/food-pic.png" />
											</div>
											<div class="food-desc">
												<div class="food-name">Veggie Supreme</div>
												<div class="food-price">£ 2.95 </div>
											</div>
											<div class="addicon">
												<a href="#" class="">
													<img src="assets/add-icon.png" />
												</a>
											</div>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="food-zone">
											<div class="food-img">
												<img src="assets/food-pic.png" />
											</div>
											<div class="food-desc">
												<div class="food-name">Veggie Supreme</div>
												<div class="food-price">£ 2.95 </div>
											</div>
											<div class="addicon">
												<a href="#" class="">
													<img src="assets/add-icon.png" />
												</a>
											</div>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="food-zone">
											<div class="food-img">
												<img src="assets/food-pic.png" />
											</div>
											<div class="food-desc">
												<div class="food-name">Veggie Supreme</div>
												<div class="food-price">£ 2.95 </div>
											</div>
											<div class="addicon">
												<a href="#" class="">
													<img src="assets/add-icon.png" />
												</a>
											</div>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="food-zone">
											<div class="food-img">
												<img src="assets/food-pic.png" />
											</div>
											<div class="food-desc">
												<div class="food-name">Veggie Supreme</div>
												<div class="food-price">£ 2.95 </div>
											</div>
											<div class="addicon">
												<a href="#" class="">
													<img src="assets/add-icon.png" />
												</a>
											</div>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="food-zone">
											<div class="food-img">
												<img src="assets/food-pic.png" />
											</div>
											<div class="food-desc">
												<div class="food-name">Veggie Supreme</div>
												<div class="food-price">£ 2.95 </div>
											</div>
											<div class="addicon">
												<a href="#" class="">
													<img src="assets/add-icon.png" />
												</a>
											</div>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="food-zone">
											<div class="food-img">
												<img src="assets/food-pic.png" />
											</div>
											<div class="food-desc">
												<div class="food-name">Veggie Supreme</div>
												<div class="food-price">£ 2.95 </div>
											</div>
											<div class="addicon">
												<a href="#" class="">
													<img src="assets/add-icon.png" />
												</a>
											</div>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="food-zone">
											<div class="food-img">
												<img src="assets/food-pic.png" />
											</div>
											<div class="food-desc">
												<div class="food-name">Veggie Supreme</div>
												<div class="food-price">£ 2.95 </div>
											</div>
											<div class="addicon">
												<a href="#" class="">
													<img src="assets/add-icon.png" />
												</a>
											</div>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="food-zone">
											<div class="food-img">
												<img src="assets/food-pic.png" />
											</div>
											<div class="food-desc">
												<div class="food-name">Veggie Supreme</div>
												<div class="food-price">£ 2.95 </div>
											</div>
											<div class="addicon">
												<a href="#" class="">
													<img src="assets/add-icon.png" />
												</a>
											</div>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="food-zone">
											<div class="food-img">
												<img src="assets/food-pic.png" />
											</div>
											<div class="food-desc">
												<div class="food-name">Veggie Supreme</div>
												<div class="food-price">£ 2.95 </div>
											</div>
											<div class="addicon">
												<a href="#" class="">
													<img src="assets/add-icon.png" />
												</a>
											</div>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="food-zone">
											<div class="food-img">
												<img src="assets/food-pic.png" />
											</div>
											<div class="food-desc">
												<div class="food-name">Veggie Supreme</div>
												<div class="food-price">£ 2.95 </div>
											</div>
											<div class="addicon">
												<a href="#" class="">
													<img src="assets/add-icon.png" />
												</a>
											</div>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="food-zone">
											<div class="food-img">
												<img src="assets/food-pic.png" />
											</div>
											<div class="food-desc">
												<div class="food-name">Veggie Supreme</div>
												<div class="food-price">£ 2.95 </div>
											</div>
											<div class="addicon">
												<a href="#" class="">
													<img src="assets/add-icon.png" />
												</a>
											</div>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="food-zone">
											<div class="food-img">
												<img src="assets/food-pic.png" />
											</div>
											<div class="food-desc">
												<div class="food-name">Veggie Supreme</div>
												<div class="food-price">£ 2.95 </div>
											</div>
											<div class="addicon">
												<a href="#" class="">
													<img src="assets/add-icon.png" />
												</a>
											</div>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="food-zone">
											<div class="food-img">
												<img src="assets/food-pic.png" />
											</div>
											<div class="food-desc">
												<div class="food-name">Veggie Supreme</div>
												<div class="food-price">£ 2.95 </div>
											</div>
											<div class="addicon">
												<a href="#" class="">
													<img src="assets/add-icon.png" />
												</a>
											</div>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="food-zone">
											<div class="food-img">
												<img src="assets/food-pic.png" />
											</div>
											<div class="food-desc">
												<div class="food-name">Veggie Supreme</div>
												<div class="food-price">£ 2.95 </div>
											</div>
											<div class="addicon">
												<a href="#" class="">
													<img src="assets/add-icon.png" />
												</a>
											</div>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="food-zone">
											<div class="food-img">
												<img src="assets/food-pic.png" />
											</div>
											<div class="food-desc">
												<div class="food-name">Veggie Supreme</div>
												<div class="food-price">£ 2.95 </div>
											</div>
											<div class="addicon">
												<a href="#" class="">
													<img src="assets/add-icon.png" />
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="tab3default">
							<div class="container">
								<div class="row">
									<div class="col-sm-4">
										<div class="offer-zone">
											<div class="offer-img clearfix">
												<div class="offer-img-left">
													<img src="assets/pizza.png" />
												</div>
												<div class="offer-img-right">
												<img src="assets/veg-suppreme.jpg" />
												
												</div>
											</div>
											<div class="offer-desc clearfix">
												<div class="discount-offer">20% off </div>
												<div class="offer-name">Vegge Supreme <span class="pull-right">£ 2.50 </span></div>
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="offer-zone">
											<div class="offer-img clearfix">
												<div class="offer-img-left">
													<img src="assets/pizza.png" />
												</div>
												<div class="offer-img-right">
												<img src="assets/veg-suppreme.jpg" />
												
												</div>
											</div>
											<div class="offer-desc clearfix">
												<div class="discount-offer">Free Garlic Bread </div>
												<div class="offer-name">with any large pizza</div>
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="offer-zone">
											<div class="offer-img clearfix">
												<div class="offer-img-left">
													<img src="assets/pizza.png" />
												</div>
												<div class="offer-img-right">
												<img src="assets/veg-suppreme.jpg" />
												
												</div>
											</div>
											<div class="offer-desc clearfix">
												<div class="discount-offer">Free Large Coke</div>
												<div class="offer-name">on purchase of £10</div>
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="offer-zone">
											<div class="offer-img clearfix">
												<div class="offer-img-left">
													<img src="assets/pizza.png" />
												</div>
												<div class="offer-img-right">
												<img src="assets/veg-suppreme.jpg" />
												
												</div>
											</div>
											<div class="offer-desc clearfix">
												<div class="discount-offer">10% off  </div>
												<div class="offer-name">Country feast pizza <span class="pull-right">£ 2.70 </span></div>
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="offer-zone">
											<div class="offer-img clearfix">
												<div class="offer-img-left">
													<img src="assets/pizza.png" />
												</div>
												<div class="offer-img-right">
												<img src="assets/veg-suppreme.jpg" />
												
												</div>
											</div>
											<div class="offer-desc clearfix">
												<div class="discount-offer">Free Lava Cake </div>
												<div class="offer-name">with any medium pizza</div>
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="offer-zone">
											<div class="offer-img clearfix">
												<div class="offer-img-left">
													<img src="assets/pizza.png" />
												</div>
												<div class="offer-img-right">
												<img src="assets/veg-suppreme.jpg" />
												
												</div>
											</div>
											<div class="offer-desc clearfix">
												<div class="discount-offer">Free Fries</div>
												<div class="offer-name">with every burger</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	</section>

</main>	