<main>
	<section id="slide-1" class="homeSlide h-auto">
		<div class="pre-bg" data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -100px;" data-anchor-target="#slide-1">
			<div class="hsContainer" >
				<div class="hsContent" data-center="bottom: 200px; opacity: 1" data-top="bottom:1200px; opacity:0.3" data-anchor-target="#slide-1">
					<div class="container">
						<div class="row">
							<div class="col-sm-offset-5 col-sm-7">
								<div class="store-sec">
									<h4 class="store-availability">Available on App Store and Google Play</h4>
									<div class="store-btn clearfix">
										<a href="https://itunes.apple.com/gb/app/id1088581826" target="_blank"><i class="fa fa-apple"></i> App Store</a> 
										<a href="#"><i class="fa fa-android"></i> Google Play</a>
									</div>
									<div class="work-banner-text">
									    <h1>how it <span class="w-green">works?</span></h1>
										<h2>Pre-Order </h2>
										<p>SWOOPE’S main feature allows you to order direct from your smartphone straight to the retailer even before you arrive. There are three services each venue can offer…</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
		
	<section id="slide-2" class="homeSlide h-auto">
		<div class="pre-bg" data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -100px;" data-bottom-top="background-position: 50% 100px;" data-anchor-target="#slide-2">
			<div class="hsContainer">
				<div class="hsContent" data-center="opacity: 1" data-center-top="opacity: 0" data--100-bottom="opacity:1;" data-anchor-target="#slide-2">
					<div class="container">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div class="store-sec">
									<h4 class="ic_click click-icon">Click & Collect</h4>
									<p>This is great for people on the go who want to order ahead and save time waiting in line. You will be notified when your order is ready for collection so you don’t have to queue. All SWOOPE venues have a priority collection point.</p>
								</div>
								<div class="store-sec">
									<h4 class="ic_click table-icon">Table service</h4>
									<p>SWOOPE venues, like restaurants and bars, can offer tables service through the App. Simply add your table number at checkout so the staff know where to bring your order. You will be notified when orders are accepted and on their way to you, so no need to use a waiter.</p>
								</div>
								<div class="store-sec">
									<h4 class="ic_click home-icon">Home Delivery </h4>
									<p>If a venue offers home delivery then you can simply select this option at checkout. You can change your shipping address in your profile or at the point of checkout.</p>
								</div>
								<div class="store-sec">
									<p>All orders are verified by scanning your QR code receipt. That’s right, no need for paper receipts as everything is stored on your phone. </p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
		
	<section id="slide-3" class="homeSlide h-auto">
		<div class="pre-bg" data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -100px;" data-bottom-top="background-position: 50% 100px;" data-anchor-target="#slide-3">
			<div class="hsContainer">
				<div class="hsContent" data--50-bottom="opacity: 0;" data--200-bottom="opacity:0;" data-center="opacity: 1" data-200-top="opacity: 1" data-anchor-target="#slide-3">
					<div class="container">
				     <div class="row">
					  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="gift-card card work-card">
							<ul>
								<li><img src="/assets/Paypal_icon.png"></li>
								<li><img src="/assets/MasterCard_icon.png"></li>
								<li><img src="/assets/visa_icon.png"></li>
								<li><img src="/assets/concardis_icon.png"></li>
								<li><img src="/assets/transactworld_icon.png"></li>
								<li><img src="/assets/pay_icon.png"></li>
								<li><img src="/assets/AMEX_icon.png"></li>
							</ul>
						</div>
						<div class="store-sec work-sec">
									<p>We support most major payment providers so once you link your Visa, Mastercard, Amex cards, Apple pay or Paypal accounts to SWOOPE, its then a simple one tap checkout every time. Making the transaction as smooth and easy as possible.</p>
					    </div>
					  </div>
					 </div>
					</div>
				</div>
			</div>
		</div>
	</section>
		
	<section id="slide-4" class="homeSlide h-auto">
		<div class="" data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -100px;" data-bottom-top="background-position: 50% 100px;" data-anchor-target="#slide-4">
			<div class="hsContainer">
				<div class="hsContent" data-bottom-top="opacity: 0" data-25p-top="opacity: 0" data-top="opacity: 1"  data-anchor-target="#slide-4">
					<div class="container">
						<div class="row work-mar">
						    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
								<div class="work-img">
									<img src="/assets/mobile_img.png">
								</div>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
								<div class="store-sec work-sec work-padd">
									<h4 class="Ic_heart wish-ic">Wishlist shopping</h4>
									<p>SWOOPE’s wish-list shopping is a fantastic new way to be alerted to the exact product you are looking for when out shopping. Simply add a product to your “Wishlist” and SWOOPE will search for the closest one on sale right now. </p>

                                    <p>The unique technology also knows when you are walking past a store that’s selling exactly what you’re looking for, and will immediately alert you so you never miss out on a sale item again.  It’s a revolutionary new way to shop and we think you will be very impressed. 

                                    </p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="slide-n-1" class="homeSlide h-auto">
		<div class="pre-bg" data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -100px;" data-bottom-top="background-position: 50% 100px;" data-anchor-target="#slide-4">
			<div class="hsContainer">
				<div class="hsContent" data-bottom-top="opacity: 0" data-25p-top="opacity: 0" data-top="opacity: 1"  data-anchor-target="#slide-4">
					<div class="container">
						<div class="row work-mar">
							<div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
								<div class="store-sec work-sec work-padd">
									<h4 class="Ic_heart loyal-ic">Loyalty Rewards </h4>
									<p>No more need to have 50 different store cards, as everything you purchase on SWOOPE will be rewarded with loyalty points that you can use in the shops of your choice†. We also reward you for every check-in, feedback, social share, friends invited, added deals and votes on special offers. So we are always giving back for using SWOOPE. </p>
								</div>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
								<div class="work-img">
									<img src="/assets/mobile_img1.png">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="slide-n-2" class="homeSlide h-auto">
		<div class="pre-bg" data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -100px;" data-bottom-top="background-position: 50% 100px;" data-anchor-target="#slide-4">
			<div class="hsContainer">
				<div class="hsContent" data-bottom-top="opacity: 0" data-25p-top="opacity: 0" data-top="opacity: 1"  data-anchor-target="#slide-4">
					<div class="container">
						<div class="row work-mar">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div class="gift-card brand-icon">
										<ul>
											<li><img src="/assets/Amazon.png"></li>
											<li><img src="/assets/iTunes.png"></li>
											<li><img src="/assets/HSamuel.png"></li>
											<li><img src="/assets/Ernestjones.png"></li>
											<li><img src="/assets/House-of-fraser.png"></li>
											<li><img src="/assets/TK-maxx.png"></li>
											<li><img src="/assets/virgin.png"></li>
											<li><img src="/assets/Zizzi.png"></li>
											<li><img src="/assets/Ticketmaster.png"></li>
											<li><img src="/assets/New_Look.png"></li>
										</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="slide-n-3" class="homeSlide h-auto">
		<div class="" data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -100px;" data-bottom-top="background-position: 50% 100px;" data-anchor-target="#slide-4">
			<div class="hsContainer">
				<div class="hsContent" data-bottom-top="opacity: 0" data-25p-top="opacity: 0" data-top="opacity: 1"  data-anchor-target="#slide-4">
					<div class="container">
						<div class="row work-mar">
						    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
								<div class="work-img">
									<img src="/assets/mobile_img2.png">
								</div>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
								<div class="store-sec work-sec work-padd">
									<h4 class="Ic_heart offer-ic">Special Offers </h4>
									<p>We are working with some amazing local retailers who give us exclusive offers just for SWOOPE customers. These will be live offerings and limited numbers so keep checking back for savings in your area. </p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="slide-n-4" class="homeSlide h-auto">
		<div class="pre-bg" data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -100px;" data-bottom-top="background-position: 50% 100px;" data-anchor-target="#slide-4">
			<div class="hsContainer">
				<div class="hsContent" data-bottom-top="opacity: 0" data-25p-top="opacity: 0" data-top="opacity: 1"  data-anchor-target="#slide-4">
					<div class="container">
						<div class="row work-mar">
							<div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
								<div class="store-sec work-sec work-padd">
									<h4 class="Ic_heart message-ic">Instant Messages Business  </h4>
									<p>You now have access to instant message service with every SWOOPE venue. Say goodbye to long waits for email reply’s, as you will now be just one tap away from a direct response to your favourite businesses. Booking tables, asking about the new menu or checking sizes for clothing ranges has never been so easy.</p>
								</div>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
								<div class="work-img">
									<img src="/assets/mobile_img3.png">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="slide-n-5" class="homeSlide h-auto">
		<div class="" data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -100px;" data-bottom-top="background-position: 50% 100px;" data-anchor-target="#slide-4">
			<div class="hsContainer">
				<div class="hsContent" data-bottom-top="opacity: 0" data-25p-top="opacity: 0" data-top="opacity: 1"  data-anchor-target="#slide-4">
					<div class="container">
						<div class="row work-mar">
						    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
								<div class="work-img">
									<img src="/assets/mobile_img4.png">
								</div>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
								<div class="store-sec work-sec work-padd">
									<h4 class="Ic_heart security-ic">Security </h4>
									<p>Security is a huge focus on SWOOPE. So we have partnered with some of the world's biggest payment providers who make sure all transactions and details are locked away safe. In fact SWOOPE doesn’t touch any of this data, its all handled by our financial partners. Anything else is stored on our level 1 PCI compliant Amazon servers, so you can rest assured we take these things very seriously, meaning you can rest easy knowing everything is safe and secure.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="work-venue">
     <div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			    <div class="venue-text center">
				  <span>† Venues on SWOOPE network</span>
				</div>
			</div>
		</div>
	 </div>
    </section>
	<section class="store-btn-sec">
	  <div class="container">
		<div class="row">
          <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
		    <div class="skype-img center">
		      <img src="/assets/skype_icon.png">
			</div>
		  </div>
		  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
			<div class="store-sec center">
				<h4 class="store-availability">Available on App Store and Google Play</h4>
				<div class="store-btn clearfix">
					<a href="https://itunes.apple.com/gb/app/id1088581826" target="_blank"><i class="fa fa-apple"></i> App Store</a> 
					<a href="#"><i class="fa fa-android"></i> Google Play</a>
				</div>
			</div>
		  </div>
		  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
		      <div class="skype-img center">
		         <img src="/assets/skype_icon.png">
			  </div>
		  </div>
		</div>
	  </div>
	</section>
</main>	
	







