
<main>
	<section id="slide-1" class="homeSlide">
		<div class="bcg" data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -100px;" data-anchor-target="#slide-1">
			<div class="hsContainer" >
				<div class="hsContent slide-1" data-center="bottom: 200px; opacity: 1" data-top="bottom:1200px; opacity:0.3" data-anchor-target="#slide-1" >
					<div class="container">
						<div class="row">
							<div class="col-sm-offset-4 col-sm-8 col-md-offset-5 col-md-7">
								<h1 class="logo-title"><img src="/assets/logo-title.png"/></h1>
								<div class="store-sec center">
									<h4 class="store-availability">Available on App Store and Google Play</h4>
									<div class="store-btn clearfix">
										<a href="https://itunes.apple.com/gb/app/id1088581826" target="_blank"><i class="fa fa-apple"></i> App Store</a> 
										<a href="#"><i class="fa fa-android"></i> Google Play</a>
									</div>
									<div class="gift-card">
										<ul>
											<li><img src="/assets/Amazon.png"></li>
											<li><img src="/assets/iTunes.png"></li>
											<li><img src="/assets/HSamuel.png"></li>
											<li><img src="/assets/Ernestjones.png"></li>
											<li><img src="/assets/House-of-fraser.png"></li>
											<li><img src="/assets/TK-maxx.png"></li>
											<li><img src="/assets/virgin.png"></li>
											<li><img src="/assets/Zizzi.png"></li>
											<li><img src="/assets/Ticketmaster.png"></li>
											<li><img src="/assets/New_Look.png"></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
		
	<section id="slide-2" class="homeSlide">
		<div class="bcg" data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -100px;" data-bottom-top="background-position: 50% 100px;" data-anchor-target="#slide-2">
			<div class="hsContainer">
				<div class="hsContent" data-center="opacity: 1" data-center-top="opacity: 0" data--100-bottom="opacity:1;" data-anchor-target="#slide-2">
					<div class="container">
						<div class="row">
							<div class="col-sm-offset-5 col-sm-7">
								<div class="store-sec ic_click_sec">
									<h4 class="ic_click">Click & Collect everything, <br>
									queue for Nothing.</h4>
									<p>SWOOPE allows you to order straight from your smartphone direct to your local retailers. This makes everything they sell click & collect. No more queuing for those everyday items, as they can be ready for you when you arrive!</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
		
	<section id="slide-3" class="homeSlide">
		<div class="bcg" data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -100px;" data-bottom-top="background-position: 50% 100px;" data-anchor-target="#slide-3">
			<div class="hsContainer">
				<div class="hsContent" data--50-bottom="opacity: 0;" data--200-bottom="opacity:0;" data-center="opacity: 1" data-200-top="opacity: 1" data-anchor-target="#slide-3">
					<div class="container">
						<div class="table_sec">
							<div class="store-sec table_service">
								<h4 class="ic_table">Table service</h4>
								<p>SWOOPE venues, like restaurants and bars, can offer tables service. So sit back, relax and let SWOOPE do the ordering for you. No need to queue or pay by cash anymore as you can do that all through your smartphone now. Time to enjoy yourself more.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
		
	<section id="slide-4" class="homeSlide">
		<div class="bcg" data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -100px;" data-bottom-top="background-position: 50% 100px;" data-anchor-target="#slide-4">
			<div class="hsContainer">
				<div class="hsContent" data-bottom-top="opacity: 0" data-25p-top="opacity: 0" data-top="opacity: 1"  data-anchor-target="#slide-4">
					<div class="container">
						<div class="row">
							<div class="col-sm-offset-5 col-sm-7">
								<div class="store-sec ic_click_sec">
									<h4 class="Ic_heart">Wish list shopping</h4>
									<p>When you are out shopping, simply add a product to your “Wishlist” and SWOOPE will search for the closest one on sale right now. The unique technology also knows when you are walking past a store that’s selling exactly what you’re hunting for, and will immediately alert you so you never miss out on a sale item again.   </p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="slide-5" class="homeSlide">
		<div class="bcg" data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -100px;" data-bottom-top="background-position: 50% 100px;" data-anchor-target="#slide-5">
			<div class="hsContainer">
				<div class="hsContent" data-center="opacity: 1" data-center-top="opacity: 0" data--100-bottom="opacity:1;" data-anchor-target="#slide-5">
					<div class="container">
						<div class="row">
							<div class="col-sm-7">
								<div class="store-sec ic_click_sec">
									<h4 class="Ic_Rewards">Loyalty Rewards</h4>
									<p>SWOOPE is all about keeping business local. So we want to reward customers each and every time they interact with one of our local retailers. That’s why every purchase, check-in and feedback rating, and more, will result in loyalty point rewards that can be cashed in for some amazing free gift cards.  </p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
		
	<section id="slide-6" class="homeSlide">
		<div class="bcg" data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -100px;" data-bottom-top="background-position: 50% 100px;" data-anchor-target="#slide-6">
			<div class="hsContainer">
				<div class="hsContent" data--50-bottom="opacity: 0;" data--200-bottom="opacity:0;" data-center="opacity: 1" data-200-top="opacity: 1" data-anchor-target="#slide-6">
					<div class="container">
						<div class="row">
							<div class="col-sm-7 col-sm-offset-5">
								<div class="store-sec">
									<h4 class="ic_table">Special offers</h4>
									<p>We are working with some amazing local retailers, who provide us with exclusive offers to pass onto SWOOPE customers. So keep your eyes peeled on the deals and voucher section because there are some real ££££’s to be saved in your favorite stores.     </p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
		
	<section id="slide-7" class="homeSlide">
		<div class="bcg" data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -100px;" data-bottom-top="background-position: 50% 100px;" data-anchor-target="#slide-7">
			<div class="hsContainer">
				<div class="hsContent" data-bottom-top="opacity: 0" data-100p-top="opacity: 0" data-top="opacity: 1"  data-anchor-target="#slide-7">
					<div class="container">
						<div class="row">
							<div class="col-sm-7">
								<div class="store-sec pre_order">
									<h4 class="ic_clock">Pre order (no queuing)  </h4>
									<p>So good we had to mention it twice! Order before you arrive and beat the queue, giving you more time to shop. It really is the future of shopping on the go. That morning coffee has never been in your hand so quick and effortlessly. Only turn up when it’s ready for collection (you will receive a push notification). Spend more time doing what makes you happy (retail therapy with friends).    </p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="slide-8" class="homeSlide">
		<div class="bcg" data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -100px;" data-bottom-top="background-position: 50% 100px;" data-anchor-target="#slide-8">
			<div class="hsContainer">
				<div class="hsContent" data--50-bottom="opacity: 0;" data--200-bottom="opacity:0;" data-center="opacity: 1" data-200-top="opacity: 1" data-anchor-target="#slide-8">
					<div class="container">
						<div class="store-sec transaction">
							<h4 class="ic_Secure">Secure Transactions</h4>
							<p>All our payments are PCI compliant and are done by some of the biggest service providers in the world. So you are in safe hands. In fact Mobile payments are actually one of the safest forms of transactions because of the added layer of security, which you don’t get with straight cash or card payments.  </p>
						</div>
						<div class="gift-card card">
							<ul>
								<li><img src="/assets/Paypal_icon.png"></li>
								<li><img src="/assets/MasterCard_icon.png"></li>
								<li><img src="/assets/visa_icon.png"></li>
								<li><img src="/assets/concardis_icon.png"></li>
								<li><img src="/assets/transactworld_icon.png"></li>
								<li><img src="/assets/pay_icon.png"></li>
								<li><img src="/assets/AMEX_icon.png"></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="store-btn-sec">
		<div class="">
			<div class="store-sec center">
				<h4 class="store-availability">Available on App Store and Google Play</h4>
				<div class="store-btn clearfix">
					<a href="https://itunes.apple.com/gb/app/id1088581826" target="_blank"><i class="fa fa-apple"></i> App Store</a> 
					<a href="#"><i class="fa fa-android"></i> Google Play</a>
				</div>
			</div>
		</div>
	</section>
</main>	
