<main>
	<section class="homeSlide h-auto normal" id="slide-2">
		<div data-anchor-target="#slide-2" data-bottom-top="background-position: 50% 100px;" data-top-bottom="background-position: 50% -100px;" data-center="background-position: 50% 0px;" class="pre-bg">
			<div class="hsContainer">
				<div data-anchor-target="#slide-2" data--100-bottom="opacity:1;" data-center-top="opacity: 0" data-center="opacity: 1" class="hsContent">
					<div class="container">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div class="store-sec">
									<h4 class="ic_click click-icon none-icon">Privacy Policy</h4>
									<p> This privacy policy sets out how SWOOPE (“We”) uses and protects any information that you give out when you use this app.</p>
									<p> SWOOPE is committed to ensuring that your privacy is protected. Should we ask you to provide certain information by which you can be identified when using this app, then you can be assured that it will only be used in accordance with this privacy statement.</p>
									<p>We may change this policy from time to time by updating this page. You should check this page from time to time to ensure that you are happy with any changes. This policy is effective from date : 01 Feb 2016.</p>
									<p> You warrant that the personal information that you provide when you register as a customer to make a purchase is true, accurate and current and complete in all respects and in particular you agree not to impersonate any other person or entity or to use a false name or name that you are not authorised to use.</p>
									<p> You agree to notify us immediately of any changes to your personal information.</p>
									<p> We will take all reasonable care, in so far as it is in our power to do so, to keep all of your and payment secure, however, in the absence on our part, of negligence or failing to comply with data protection legislation, we cannot be held liable for any loss you may suffer, if a third party procures unauthorised access to any data you provide.</p>
									<h4 class="sub-title">What we collect</h4>
									<p> We may collect the following information:
										<ul class="terms-list" style="list-style:circle;padding-left:20px;">
											<li>name</li>
											<li>contact information including email address, phone number</li>
											<li>demographic information such as  current location, postcode, preferences and interests</li>
											<li>other information relevant to customer surveys and/or offers we endorse </li>
										</ul>
									</p>
									<h4 class="sub-title">What we do with the information we gather</h4>
									<p>We require this information to understand your needs and provide you with a better service, and in particular for the following reasons:
										<ul class="terms-list" style="list-style:circle;padding-left:20px;">
											<li>Internal record keeping. </li>
											<li>We may use the information to improve our products and services. </li>
											<li>We may periodically send promotional emails about new products, special offers or other information which we think you may find interesting using the email address which you have provided.  </li>
											<li>From time to time, we may also use your information to contact you for market research purposes. We may contact you by email, phone, fax or mail. We may use the information to customise the app according to your interests.</li>
										</ul>
									</p>
									<h4 class="sub-title">Security</h4>
									<p>We are committed to ensuring that your information is secure. In order to prevent unauthorised access or disclosure, we have put in place suitable physical, electronic and managerial procedures to safeguard and secure the information we collect online. 
									</p>
									<h4 class="sub-title">Data Protection</h4>
									<p>We do not store or capture your personal information, but we log your IP address which is automatically recognised by the web server.
									</p>
									<p>If you register with this app, or order from it, your information will be held on a secure server and the data will not be shared with any organisation outside of Mobile Pay Systems. It will only be used to provide you with products or information you have ordered, email updates on the topics you have requested or postal information if you have requested that service. 
									</p>
									<p>This privacy statement only covers our app. This privacy statement does not cover other apps linked to from this app.
									</p>
									<h4 class="sub-title">Controlling your personal information</h4>
									<p>You may choose to restrict the collection or use of your personal information in the following ways:
										<ul class="terms-list" style="list-style:circle;padding-left:20px;">
											<li>whenever you are asked to fill in a form on the app, look for the box that you can click to indicate that you do not want the information to be used by anybody for direct marketing purposes </li>
											<li>if you have previously agreed to us using your personal information for direct marketing purposes, you may change your mind at any time by writing to or emailing us at [support@SWOOPE.co.uk] </li>
										</ul>
									</p>
									<p>We will not sell, distribute or lease your personal information to third parties unless we have your permission or are required by law to do so. We may use your personal information to send you promotional information about third parties which we think you may find interesting if you tell us that you wish this to happen.
									</p>
									<p>You may request details of personal information which we hold about you under the Data Protection Act 1998. A small fee will be payable. If you would like a copy of the information held on you, please write to:
									<br>Mobile Pay Systems
									<br>8 merridale road
									<br>Wolverhampton
									<br>WV3 9SB
									</p>	
									<p>If you believe that any information we are holding on you is incorrect or incomplete, please write to or email us as soon as possible, at the above address. We will promptly correct any information found to be incorrect.
									</p>
									<h4 class="sub-title">Accessing our app</h4>
									<p>Access to our app is permitted on a temporary basis, and we reserve the right to withdraw or amend the service we provide on our app without notice (see below). We will not be liable if for any reason our app is unavailable at any time or for any period.
									</p>
									<h4 class="sub-title">Intellectual property rights</h4>
									<p>We are the owner or the licensee of all intellectual property rights in our app, and in the material published on it.  Those works are protected by copyright laws and treaties around the world.  All such rights are reserved. 
									</p>
									<p>You may print off one copy, and may download extracts, of any page(s) from our app for your personal reference and you may draw the attention of others within your organisation to material posted on our app.  
									</p>
									<p>You must not modify the paper or digital copies of any materials you have printed off or downloaded in any way, and you must not use any illustrations, photographs, video or audio sequences or any graphics separately from any accompanying text. 
									</p>
									<p>Our status (and that of any identified contributors) as the authors of material on our app must always be acknowledged.  
									</p>
									<p>You must not use any part of the materials on our app for commercial purposes without obtaining a licence to do so from us or our licensors.
									</p>
									<p>If you print off, copy or download any part of our app in breach of these terms of use, your right to use our app will cease immediately and you must, at our option, return or destroy any copies of the materials you have made.
									</p>
									<h4 class="sub-title">Our app changes regularly</h4>
									<p>We aim to update our app regularly, and may change the content at any time. If the need arises, we may suspend access to our app, or close it indefinitely. Any of the material on our app may be out of date at any given time, and we are under no obligation to update such material. 
									</p>
									<h4 class="sub-title">Our liability</h4>
									<p>The material displayed on our app is provided without any guarantees, conditions or warranties as to its accuracy. 
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
<section class="store-btn-sec">
		<div class="">
			<div class="store-sec center">
				<h4 class="store-availability">Download now on the App Store or Google Play</h4>
				<div class="store-btn clearfix">
					<%=link_to image_tag("app-store.png"),"https://itunes.apple.com/gb/app/id1088581826" %>
					<%=link_to image_tag("g-store.png") ,"https://play.google.com/store/apps/details?id=swoope.co.uk&amp;hl=en" %>
					
				</div>
			</div>
		</div>
	</section>
</main>	