<main>
	<section class="homeSlide h-auto normal" id="slide-2">
		<div data-anchor-target="#slide-2" data-bottom-top="background-position: 50% 100px;" data-top-bottom="background-position: 50% -100px;" data-center="background-position: 50% 0px;" class="pre-bg">
			<div class="hsContainer">
				<div data-anchor-target="#slide-2" data--100-bottom="opacity:1;" data-center-top="opacity: 0" data-center="opacity: 1" class="hsContent">
					<div class="container">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div class="store-sec">
									<h4 class="ic_click click-icon none-icon">Terms & Conditions</h4>
									<p>SWOOPE (“SWOOPE” or “App”) is an App by Mobile Pay Systems Ltd and provides a mobile wallet service between the general public (“Users”) and service providers/goods suppliers (“Vendors”).  Users are able to locate Vendors and place orders and purchase goods/services. Users can also earn rewards through use of the App.</p>
									<p>
									Mobile Pay Systems Ltd is a company registered in England and Wales under registration number 09710950 with its registered office at 8 Merridale Road, Wolverhampton WV3 9SB, United Kingdom. Trading from 2 St Philips Place, Birmingham, West Midlands, B3 2RB
									</p>
									<p>
									The following terms and conditions (“Terms”) are for general users (“User”).  These Terms set out the relationship between Mobile Pay Systems Ltd and you (“You”, “Your” or “User”). By using this App, You acknowledge and agree to these Terms and Our Privacy and Cookie Policy found at <strong><a style="color:#fff;" href="privacy-policy.html">privacy policy</a></strong> If You do not agree with these Terms, please do not use this App.
									</p>
									<h4 class="sub-title">1. Definitions</h4>
									<p><strong>Contract:</strong> means any contract between the User and the Vendor for the purchase of goods or services.</p>
									<p><strong> Goods:</strong> means any products or services sold by the Vendor at a Venue </p>
									<p><strong> Order: </strong> means any offer made by the User to purchase Goods from a Vendor </p>
									<p><strong> Vendors:</strong>  means the establishment offering the Goods </p>
									<p><strong> Venue:</strong>  means the establishment in which a Vendor offers Goods for sale </p>
									<p>1.1. Each time a User places an Order through SWOOPE, they are deemed to have agreed to these Terms.</p>
									<p>1.2. These Terms apply to each app upgrade and modification that may take place unless otherwise stated.</p>
									<h4 class="sub-title">2. Using the App</h4>
									<p>2.1. As a User of SWOOPE you shall have access to browse and contact all Service Providers registered and advertising on the App. </p>
									<p>2.2. You accept and acknowledge that prices shown for Goods on the App are determined by the Vendor and that SWOOPE have no control over this.  As such, prices may vary from the App to that of the Goods at the Venue.  The price given on the App is that which is displayed on the App.</p>
									<p>2.3. Users are required to register their details with the App. Users must be over the age of 18 years old.  By using this App and registering your details, you are confirming that you are over the age of 18 and acknowledge that proof of age may be required at Venues where purchases are made or offers redeemed. </p>
									<p>2.4. Users shall be provided with a log-in for the App the details of which must be treated confidentially.  Users are responsible for all activities which occur through their account, using their log-in ID.  In the event that You believe your account has been compromised, You must notify Us immediately.</p>
									<p>2.5. Users understand and accept that any contract made, through the sale of Goods is made between You and the Vendor and not Us.  SWOOPE is an agent to the Vendor and does not in any way whatsoever have any liability or responsibility to You once the contract has been established. </p>
									<h4 class="sub-title">3. Placing Orders</h4>
									<p>3.1. SWOOPE acts as an agent to the Vendors and as such, once an Order for Goods has been placed with a Vendor, and payment has been successfully received, confirmation shall be sent to you via SWOOPE on behalf of the Vendor.</p>
									<p>3.2. Both SWOOPE and the Vendor are at liberty to reject any Order made by you, at any time, without notice.  You shall be notified where this is the case.</p>
									<p>3.4. By placing an Order, Users confirm that they are over the age of 18, have photographic evidence of the same and are legally capable of entering into a binding contract.  </p>
									<p>3.5. In the event that an Order is rejected for any reason, a message shall be sent to your smart-phone and email notifying you of the same and no payment shall be taken.</p>
									<p>3.6. Once an Order has been placed and successfully accepted a confirmation message shall be issued to You from Us on behalf of the Vendor.  This confirmation message constitutes a binding contract between You and the Vendor and binds You to these Terms with Us.</p>
									<p>3.7. Vendors will confirm when the Order is ready for collection and upon collection the Users payment method shall be deducted with the amount of the Order plus any charges and fees.</p>
									<p>3.8. Upon receipt of successful payment, the User will receive a receipt from Us on behalf of the Vendor.</p>
									<p>3.9. The Vendor may, at their discretion, refuse to fulfil an Order or to terminate a contract, or to refuse to allow collection of Goods if they believe that 
									<ul class="terms-list">
										<li>3.9.1. fulfilling the Order would amount to a breach of any applicable laws and/or regulations in force at the time; </li>
										<li>3.9.2.  the User is unable to verify that they placed the Order; </li>
										<li>3.9.3. The User fails to collect the Order within the time frame provided; or </li>
										<li>3.9.4. Is not available at the table/seating upon delivery of the Goods. </li>
									</ul>
									</p>
									<p>3.10. Where the Vendor refuses to fulfil an Order, pursuant to clause 3.9 above, the User understands and accepts that no refund shall be given and that the Vendor and SWOOPE shall have no liability to You.</p>
									<p>3.11. Making an Order shall not entitle the User to enter a Venue or offer any preferential admission to a Venue, unless otherwise stated at the time of purchase of Goods.</p>
									<p>3.12. Where dress code applies or other Venue policies, the User must adhere to these. The Vendor may refuse the User entry to the Venue and as such, the User is urged to place an Order when inside the Venue to ensure delivery.</p>
									<p>3.13. Refunds shall not be given to mistakenly placed Orders, and as such, the User is strongly advised to ensure that the Venue and Vendor which they are purchasing Goods from, is correct before placing the Order.</p>
									<p>3.14. These Terms and Conditions and Our correspondence with You will be communicated in the English language.</p>
									
									<h4 class="sub-title">4. Rewards And Stars</h4>
									<p>4.1. For various purchases, feedback and checking into venue actions, SWOOPE shall reward Your account with points.  Accumulated points shall earn Mini Stars.  Five (5) Mini Stars can be traded for a Big Star, which can then be used to unlock gift cards and vouchers.  The higher the value of the gift card, the more Big Stars are required to unlock it.</p>
									<p>4.2. Vouchers and gift cards have their own individual redemption instructions, depending on the retailer.  The instructions are stated on the screen prior to being unlocked.  </p>
									<p>4.3. Once a voucher is unlocked You shall receive a code which can be taken in to the retailer for application at the till against Your purchase.  Some vouchers shall be redeemable online and shall be applied at the checkout when ordering through the app however each voucher shall vary.</p>
									<p>4.4. Terms and conditions relating to the vouchers and gift cards are dependent on the retailer and once a voucher has been unlocked, you are bound by their terms.  The terms and conditions for each retailer are separate to and unrelated to SWOOPE.</p>
									<p>4.5. Expiry dates shall be displayed on the voucher and vouchers shall only be redeemable once.  Vouchers and gift cards shall not, under any circumstances be cashed in.</p>
									<p>4.6. Offers are only available to people over the age of 18 and by using the App, making a purchase and accepting an offer, You are deemed to be confirming that You are over the age of 18.</p>
									<p>4.7. Rewards and offers cannot be transferred or cashed in and offers are only valid for the advertised period of time.</p>
									<p>4.8. Vendors reserve the right to reject or dismiss any offers at the time of purchase, without reason.</p>
									<h4 class="sub-title">5. Responsibility for Content</h4>
									<p>5.1. We use Our best endeavours to provide You with a quality service and virus free App. However, We are not responsible for computer viruses or other computer related problems You suffer as a result of using this App, which are beyond Our reasonable control. We recommend that You use Your own appropriate virus checking software.</p>
									<p>5.2. We are not responsible for any commentary, opinions, ratings or other postings on this App by third parties. </p>
									<p>5.3. We do not prevent or exclude Our responsibility to You for death or personal injury resulting from Our negligence.</p>
									<p>5.4. Neither We, nor any third parties provide any warranty or guarantee as to the accuracy, timeliness, performance, completeness or suitability of the information and materials found or offered on this App for any particular purpose.</p>
									<p>5.5. Information provided on this App may contain inaccuracies or errors and We accept no liability whatsoever to the fullest extent permitted by law, for any such inaccuracies or errors.</p>
									<p>5.6. Whilst we make every effort to ensure that accurate information is uploaded to the App, we cannot guarantee this.</p>
									
									<h4 class="sub-title">6. Accessing our App</h4>
									<p>6.1. Downloading our App is only available to people over the age of 18 and by using the App, making a purchase and accepting an offer, You are deemed to be confirming that You are over the age of 18.</p>
									<p>6.2. Access to our App is permitted on a temporary basis, and we reserve the right to withdraw or amend the service we provide on our App without notice (see below). We will not be liable if for any reason our App is unavailable at any time or for any period.</p>
									<p>6.3. You agree that You shall not do anything that affects the integrity or security of this App or causes or may cause harm, damage or unreasonable inconvenience to other users of this App or Us.</p>
									<p>6.4. If You breach any of the clauses set out at above, We may take such action as We deem appropriate, including denying You access to this App, bringing legal proceedings against You and disclosing such information to appropriate legal and/or regulatory bodies.</p>
									
									<h4 class="sub-title">7. Intellectual property rights</h4>
									<p>7.1. We are the owners or the licensees of all intellectual property rights in and on our App, and in the material published on it.  Those works are protected by copyright laws and treaties around the world.  All such rights are reserved. </p>
									<p>7.2. You may print off one copy, and may download extracts, of any page(s) from our App for your personal reference and you may draw the attention of others within your organisation to material posted on our App.  </p>
									<p>7.3. You must not modify the paper or digital copies of any materials you have printed off or downloaded in any way, and you must not use any illustrations, photographs, video or audio sequences or any graphics separately from any accompanying text. </p>
									<p>7.4. Our status (and that of any identified contributors) as the authors of material on our App must always be acknowledged. </p>
									<p>7.5. You must not use any part of the materials on our App for commercial purposes without obtaining a licence to do so from us or our licensors.</p>
									<p>7.6. If you print off, copy or download any part of our App in breach of these terms of use, your right to use our site will cease immediately and you must, at our option, return or destroy any copies of the materials you have made.</p>
									
									<h4 class="sub-title">8. Advertising </h4>
									<p>8.1. SWOOPE may, from time to time, advertise other companies on the App. These advertisements are independent of SWOOPE and SWOOPE do not necessarily agree with, promote or condone the content of the advertisements.</p>
									<p>8.2. SWOOPE do not accept any responsibility or liability for any content or sites which you are directed to as a result of clicking on an advertisement shown on the App or for any third party sites that you may be referred to.</p>
									<h4 class="sub-title">9. Our site changes regularly </h4>
									<p>9.1. We aim to update our App regularly, and may change the content at any time. If the need arises, we may suspend access to our App, or close it indefinitely. Any of the material on our App may be out of date at any given time, and we are under no obligation to update such material. </p>
									
									<h4 class="sub-title">10. Our liability </h4>
									<p>10.1. The material displayed in our App is provided without any guarantees, conditions or warranties as to its accuracy. To the extent permitted by law, we, and third parties connected to us hereby expressly exclude:
									
									<ul class="terms-list">
										<li>10.1.1. All conditions, warranties and other terms which might otherwise be implied by statute, common law or the law of equity.</li>
										<li>10.1.2. Any liability for any direct, indirect or consequential loss or damage incurred by any user in connection with our site or in connection with the use, inability to use, or results of the use of our site, any websites linked to it and any materials posted on it, including, without limitation any liability for:
										<ul class="terms-list" style="list-style:circle;padding-left:20px;">
											<li>loss of income or revenue;</li>
											<li>loss of business;</li>
											<li>loss of profits or contracts;</li>
											<li>loss of anticipated savings;</li>
											<li>loss of data;</li>
											<li>loss of goodwill;</li>
											<li>wasted management or office time; and</li>
										</ul>
										</li>
									</ul>
									</p>
							
									<p>10.3. for any other loss or damage of any kind, however arising and whether caused by tort (including negligence), breach of contract or otherwise, even if foreseeable, provided that this condition shall not prevent claims for loss of or damage to your tangible property or any other claims for direct financial loss that are not excluded by any of the categories set out above.</p>
									<p>10.4. This does not affect our liability for death or personal injury arising from our negligence, nor our liability for fraudulent misrepresentation or misrepresentation as to a fundamental matter, nor any other liability which cannot be excluded or limited under applicable law.</p>
									<p>10.5. The Vendor(s) and SWOOPE shall bear no responsibility or liability to the User in the event that an Order is refused, or in the event that the User is unable to collect the Order (even where the User is not permitted entry to the Venue, or has been asked to leave the Venue).  </p>
									
									<h4 class="sub-title">11. Our Rights</h4>
									<p>11.1. We reserve the right to withdraw Your access to the App for any reason, at any time, without notice to You.</p>
									<p>11.2. SWOOPE reserves the right to disable, suspend or amend Your account without notice, for any reason.</p>
									<p>11.3. SWOOPE reserves the right to access Your account but shall maintain appropriate levels of safeguarding in terms of the data and confidential information contained therein.</p>
									<p>11.4. Where an account has been inactive for a period of 3 (three) months, We reserve the right to deactivate and remove the account and all of its stored information, without notice.</p>
									
									<h4 class="sub-title">12. Cancellations and Refunds</h4>
									<p>12.1. The User understands and accepts that once the contract has been formed, by the Order being confirmed, cancellation and changes to the Order shall not be possible and refunds shall not be permitted, regardless of circumstance.  </p>
									<p>12.2. Refunds are not permitted for any reason whatsoever, including, but not limited to, in the event of a mistaken Order, in the event that the Vendor refuses to fulfil an Order, or in the event that the User is unable to attend the Venue for collection of the Order.</p>
									
									<h4 class="sub-title">13. Complaints</h4>
									<p>13.1. In the unlikely event that You should have a complaint, please direct it to Us at;</p>
									<p>support@SWOOPE.co.uk
									</br>Or in writing to:</br>Mobile Pay Systems Limited, </br>2 St Philips Place, Birmingham,
West Midlands, B3 2RB
									</p>
									
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

<section class="store-btn-sec">
		<div class="">
			<div class="store-sec center">
				<h4 class="store-availability">Download now on the App Store or Google Play</h4>
				<div class="store-btn clearfix">
					<%=link_to image_tag("app-store.png"),"https://itunes.apple.com/gb/app/id1088581826" %>
					<%=link_to image_tag("g-store.png") ,"https://play.google.com/store/apps/details?id=swoope.co.uk&amp;hl=en" %>
					
				</div>
			</div>
		</div>
	</section>
</main>	