<main>
<section class="map-area">
	<div class="wrapper">
		<div class="inner-wrapper">
			<div class="block-sec">
				<div class="inner-text">
					<div id="googleMap"></div>
					<div class="search-field">
						<%=form_tag @vanues do%>
						<%=text_field_tag :search,"", placeholder:"Search for your venue…"%>
						<%end%>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
	<section class="vanue-map">
		<div class="container">
			<div class="store-sec center">
				<h4 class="store-availability">Start or join a tab at any SWOOPE venue</h4>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<div class="vanue-zone">
						<div class="vanue-img">
							<img src="images/vanue-bar.png" />
							<p class="distance">4 mi.</p>
						</div>
						<div class="vanue-desc">
							<div class="pull-left">
								<div class="vanue-logo"><img src="images/vanue-logo1.png"></div>
								<div class="vanue-title">
									<h2>The O bar</h2>
									<p><img src="images/ratting-star.png"></p>
								</div>
							</div>
							<div class="pull-right"><a class="btn start-btn" href="">Start a tab</a></div>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="vanue-zone">
						<div class="vanue-img">
							<img src="images/moking.png" />
							<p class="distance">4 mi.</p>
						</div>
						<div class="vanue-desc">
							<div class="pull-left">
								<div class="vanue-logo"><img src="images/mocking-bird.png"></div>
								<div class="vanue-title">
									<h2>The O bar</h2>
									<p><img src="images/ratting-star.png"></p>
								</div>
							</div>
							<div class="pull-right"><a class="btn start-btn" href="">Start a tab</a></div>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="vanue-zone">
						<div class="vanue-img">
							<img src="images/pizza-qtr.png" />
							<p class="distance">4 mi.</p>
						</div>
						<div class="vanue-desc">
							<div class="pull-left">
								<div class="vanue-logo"><img src="images/pizza-quarter.png"></div>
								<div class="vanue-title">
									<h2>The O bar</h2>
									<p><img src="images/ratting-star.png"></p>
								</div>
							</div>
							<div class="pull-right"><a class="btn start-btn" href="">Start a tab</a></div>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="vanue-zone">
						<div class="vanue-img">
							<img src="images/victoria-pic.png" />
							<p class="distance">4 mi.</p>
						</div>
						<div class="vanue-desc">
							<div class="pull-left">
								<div class="vanue-logo"><img src="images/victoria.png"></div>
								<div class="vanue-title">
									<h2>The O bar</h2>
									<p><img src="images/ratting-star.png"></p>
								</div>
							</div>
							<div class="pull-right"><a class="btn start-btn" href="">Start a tab</a></div>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="vanue-zone">
						<div class="vanue-img">
							<img src="images/pizza-planet-bg.png" />
							<p class="distance">4 mi.</p>
						</div>
						<div class="vanue-desc">
							<div class="pull-left">
								<div class="vanue-logo"><img src="images/pizza-planet.png"></div>
								<div class="vanue-title">
									<h2>The O bar</h2>
									<p><img src="images/ratting-star.png"></p>
								</div>
							</div>
							<div class="pull-right"><a class="btn start-btn" href="">Start a tab</a></div>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="vanue-zone">
						<div class="vanue-img">
							<img src="images/white-castle-bg.png" />
							<span class="spl-offer">Special Offers</span>
							<p class="distance">4 mi.</p>
						</div>
						<div class="vanue-desc">
							<div class="pull-left">
								<div class="vanue-logo"><img src="images/white-castle.png"></div>
								<div class="vanue-title">
									<h2>The O bar</h2>
									<p><img src="images/ratting-star.png"></p>
								</div>
							</div>
							<div class="pull-right"><a class="btn start-btn" href="">Start a tab</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</main>	