<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-5">
				<div class="clearfix">
				<a href="#" class="footer-logo"><%=image_tag("footer-logo.png") %></a>
				</div>
				<p>Mobile Pay Systems Limited, 2 St Philips Place, Birmingham, West Midlands, B3 2RB, Reg 09710950. </p>
			</div>
			<div class="col-sm-3 col-sm-offset-4">
				<ul class="social-icon social-icons-fot">
					<li><a href="https://www.facebook.com/SWOOPEapp/?fref=ts" target="_black"><i class="fa fa-facebook"></i></a></li>
					<li><a href="" target="_black"><i class="fa fa-twitter"></i></a></li>
					<li><a href="" target="_black"><i class="fa fa-instagram"></i></i></a></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				Copyright @ 2016 
			</div>
			<div class="col-sm-6">
				<ul class="footer-links pull-right">
					<li><a href="/privacy_policy">Privacy Policy</a></li>
					<li><a href="/terms_conditions">Terms & Conditions</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
<section class="footer-bottom">
     <div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
				<p>If you are a business owner and want to be on Swoope then simply get in touch at  <span class="p-r-5"><i class="fa fa-envelope"></i></span>sales@swoope.co.uk</p>
				<p>Mobile Pay Systems Limited, 2 St Philips Place, Birmingham, West Midlands, B3 2RB, Reg 09710950 </p>
				  
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
			<a class="tooltip-view pull-right" href="#" data-toggle="tooltip" title="Mobile Pay Systems Limited
						is registered with the Information Commissioner's Office under 
						Registration reference:
						ZA161040
						Registration Start date:15 January 2016">Data protection certificate</a>
			</div>
		</div>
	</div>
</section>

<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip(); 
	$(window).scroll(function(){
		var sticky = $('.sticky'),
			scroll = $(window).scrollTop();

		if (scroll >= 1) sticky.addClass('fixed');
		else sticky.removeClass('fixed');
	});
	 $(".read-more").click(function(e){
        e.preventDefault();
        $(this).toggleClass("r-less");
    	$(this).siblings().toggleClass("readless");
    	if($(".read-more").hasClass("r-less")){
    		$(".read-more").text("More");
          $(".r-less").text("Less");
        }
        else{
      	$(".read-more").text("More");
        }
      
	});
	// var toggle  = document.getElementById("share");
	// var content = document.getElementById("share-content");

	// toggle.addEventListener("click", function(){
	//   content.style.display = (content.dataset.toggled ^= 1) ? "block" : "none";
	// }, false);
});
</script>

<!--  <script>
		function initialize() {
		  var mapProp = {
		    center:new google.maps.LatLng(51.508742,-0.120850),
		    zoom:5,
		    mapTypeId:google.maps.MapTypeId.ROADMAP
		  };
		  var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
		}
		google.maps.event.addDomListener(window, 'load', initialize);
</script> -->


