<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-5">
				<div class="clearfix">
				<a href="#" class="footer-logo"><img src="/assets/footer-logo.png"/></a>
				</div>
				<p>Mobile Pay Systems Limited, 2 St Philips Place, Birmingham, West Midlands, B3 2RB, Reg 09710950. </p>
			</div>
			<div class="col-sm-3 col-sm-offset-4">
				<ul class="social-icon social-icons-fot">
					<li><a href="https://www.facebook.com/SWOOPEapp/?fref=ts" target="_black"><i class="fa fa-facebook"></i></a></li>
					<li><a href="" target="_black"><i class="fa fa-twitter"></i></a></li>
					<li><a href="" target="_black"><i class="fa fa-google-plus"></i></a></li>
					<li><a href="" target="_black"><i class="fa fa-linkedin"></i></a></li>
					<li><a href="" target="_black"><i class="fa fa-instagram"></i></i></a></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				Copyright @ 2016 
			</div>
			<div class="col-sm-6">
				<ul class="footer-links pull-right">
					<li><a href="/privacy_policy">Privacy Policy</a></li>
					<li><a href="/terms_conditions">Terms & Conditions</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
<section class="footer-bottom">
     <div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
				<p>If you are a business owner and want to be on SWOOPE then simple get in touch at <span class="p-r-5"><i class="fa fa-envelope"></i></span>sales@SWOOPE.co.uk</p>
				<p>Mobile Pay Systems Limited, 2 St Philips Place, Birmingham, West Midlands, B3 2RB, Reg 09710950 </p>
				  
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
			<a class="tooltip-view pull-right" href="#" data-toggle="tooltip" title="Mobile Pay Systems Limited
is registered with the Information Commissioner's Office under 
Registration reference:
ZA161040
Registration Start date:15 January 2016">Data protection certificate</a>
			</div>
		</div>
	</div>
</section>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/assets/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/assets/ie10-viewport-bug-workaround.js"></script>

<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
<script src="/assets/imagesloaded.js"></script>
<!--<script src="js/skrollr.js"></script>-->
<script type="text/javascript">
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});
</script>
<script src="/assets/_main.js"></script>
<!--<script type="text/javascript">
    $(document).ready(function () {
        $(window).scroll(function(){
            var sticky = $('.sticky'),
                scroll = $(window).scrollTop();

            if (scroll >= 20) sticky.addClass('fixed');
            else sticky.removeClass('fixed');
        });
		
	 });
</script>-->








