<header>
  <nav class="navbar navbar-default sticky">
   <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
          </button>
       <a href="#" class="logo work-logo hidden-large"><img src="assets/logo.png"/></a>
    </div>
   

    <div class="collapse navbar-collapse work-navbar" id="myNavbar">
          <ul class="nav navbar-nav work-nav pull-left">
              <li class="active"><a href="/ ">Home</a></li>
              <li><a href="/how_it_works">How it works</a></li>
              <li><a href="/our_story">Our Story</a></li>
              <li><a href="/venues">Venues</a></li>
              <li><a href="/blog">Blog</a></li>
            
         </ul>
    
     <ul class="social-share pull-right right">
      <li><a target="_black" href="https://www.facebook.com/Swoope-966658816749794"><i class="fa fa-facebook"></i></a></li>
      <li><a target="_black" href=""><i class="fa fa-twitter"></i></a></li>
      <li><a target="_black" href=""><i class="fa fa-instagram"></i></a></li>
    </ul>
    </div>
   </div>
  </nav>
</header>

<script type="text/javascript">
  $(document).ready(function() {
  $('li.active').removeClass('active');
  $('a[href="' + location.pathname + '"]').closest('li').addClass('active');
});
</script>